body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif; 
    color: #1F2533;
}


.header {
    height: 56px;
    background: #F7F4FE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
margin-left: 16px;
padding-top: 16px;
}

.burderMenu {
    display: none;
    margin-right: 12px;
}

.menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu1 div {
    padding-left: 24px;
}

.menu1 div:nth-of-type(3) {
    padding-right: 24px;
    border-right: 1px solid #E1E4E6;
}

.header .button1 {
    background-color: transparent;
    border: 1px solid #7171F5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    color: #7171F5;
    margin-right: 43px;
}

.container {
    background: #F7F4FE;
    height: 764px;
}

.block1 {
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 202px;
}

.inblock1 {
    margin-left: 48px;
    width: 50%;
}

.block1 div:first-of-type {
max-width: 432px;
padding-top: 30px;
}

.title2 {
font-weight: bold;
font-size: 38px;
line-height: 42px;
padding-bottom: 16px;
}

.comp {
    color: #7171F5;
}

.info {
font-size: 16px;
line-height: 24px;
padding-bottom: 24px;
}

.block1 .button2 {
    background-color: #7171F5;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    margin-right: 8px;
}

.block1 .button1 {
    background-color: transparent;
    border: 1px solid #7171F5;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    color: #7171F5;
}

.methods {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.methods img {
    width: 32px;
    height: 32px;
}

.connect {
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
    height: 36px;
}

.big {
    width: 50%;
    margin-right: 48px;
    margin-top: 98px;
    margin-left: 48px;
}

.big img {
    max-width: 100%;
}

.block2 {
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 104px;
    flex-wrap: wrap;
}

.column1, .column2, .column3 {
width: 33%;
box-sizing: border-box;
padding: 0 48px;
}

.column1 {
font-weight: 800;
font-size: 24px;
line-height: 32px;
}

.mainTitle {
    margin-bottom: 24px;
}

.title {
font-weight: 800;
font-size: 16px;
line-height: 24px;
margin-bottom: 6px;
}

.paragraph {
font-size: 14px;
line-height: 20px;
margin-bottom: 32px;
font-weight: 500;
}

.block3 {
    max-width: 672px;
    height: 124px;
    background-color: #1F1F47;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block3 .button3 {
    background-color: transparent;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    margin-right: 8px;
}


.block3 .button2 {
    background-color: #7171F5;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    margin-right: 8px;
}

.arrow {
    margin-left: 28px;
    margin-right: 20px;
    width: 55px;
    height: 44px;
}

.text {
    height: 68px;
    width: 250px;
    max-width: 328px;
    color: #FFFFFF;
    margin-right: 60px;
   
}

.text1 {
    font-size: 16px;
line-height: 24px;
font-weight: 600;
}

.text2 {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
}

.logo2 {
    margin: 0 auto;
    width: 74px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu2 span {
    padding-right: 24px;
    font-size: 14px;
line-height: 20px;
}

.menu2 span:last-of-type {
    padding: 0;
}

.end {
    font-size: 12px;
    color: #9BA0A5;
    margin: 24px 0;
    text-align: center;
}


 @media screen and (max-width: 768px) {
    .column1 {
       width: 100%;    
    }
 
    .column2, .column3 {
        width: 50%;
    }

    .mainTitle {
        max-width: 384px;
    }

    .container {
        height: 456px;
    }
    
    .block1 {
           padding-top: 0;
    }
 }

 @media screen and (min-width: 360px) and (max-width: 768px) {
    .menu1 {
        display: none;
    }
 
    .burderMenu {
        display: block;
    }
   
    .menu2 {
      flex-direction: column;
      align-items: center;
   }

   .menu2 span {
       padding-right: 0;
       padding-bottom: 12px;
   }
   .block2 {
    padding-top: 48px;
    }

 .header {
     height: 48px;
    }
 }
 @media screen and (max-width: 745px) {
    .container {
        height: 516px;
    }

    .inblock1 {
        margin-left: 16px;
        width: 100%;
    }

    .block1 {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .big {
        width: 328px;
        height: 200px;
        margin-top: 16px;
    }
        
    .block1 div:first-of-type {
        padding-top: 16px;
        }

        .mainTitle {
            max-width: 384px;
        }
        
        .block1 {
               padding-top: 0;
        }
        .info {
           font-size: 14px;
           line-height: 20px;
           }
       
       .title2 {
           font-size: 24px;
           line-height: 32px;
           }
   
       .connect {
           padding-right: 16px;
       }
 }

 @media screen and (max-width: 580px) {
    .column1 {
        width: 100%;  
        padding: 0 16px;  
     }
  
     .column2, .column3 {
         width: 100%;
         padding: 0 16px;
     }
 }

 @media screen and (max-width: 652px) {
    .block2 {
        padding-top: 32px;
    }

    .block3 {
        flex-direction: column;
        width: 100%;
        height: 270px;
        justify-content: space-around;
    }

    .block3 div {
        width: 100%;
        margin: 0;
    }

    .arrow {
        padding-top: 31px;
    }

    .arrow, .text1, .text2 {
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .buttons .button3 {
        color: #7171F5;
        border: 1px solid transparent;
    }

    .logo2 {
        margin-top: 40px;
    }
 }